body {
    font-family: 'Quicksand';
    background-color: #221F23;
    margin: 0%;
}


.navbar-container {
    overflow: hidden;
    background-color: #F4B02A;
}


.navbar-container a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: 500;
  }


  .logo {
    width: 5rem;
  }


  .navbar-container a:hover {
    background-color: #F5B83D;
    color: #0C090D;
    font-weight: 500;
    font-family: 'Quicksand';
    cursor: pointer;
  }
  

  .navbar-container a.active {
    background-color: #CA2E55;
    color: white;
    font-weight: 500;
  }
  

  .navbar {
    float: right;
  }


.portada-container {
  background-image: url(/img/kermit-hamburguesa.webp);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: optimizeQuality;
  background-position: center;
  filter: grayscale();

}


  .container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}


.recuadro-about {
  width: 90%;
  height: 100vh;
  background-color: #221F23;
  display: flex;
}


.container-info {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
  margin-right: 80px;
}


p {
  color: white;
  font-family: 'Quicksand';
  font-weight: 400; 
  font-size: 1.1rem;
  letter-spacing: 0.6px;
  word-spacing: 0.6px;
  white-space: pre-wrap;
  line-height: 1.7rem;
}


h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 0;
}


.boton1 {
  font-size: 16px;
  font-family: 'Quicksand';
  letter-spacing: 0.6px;
  color: white;
  background-color: #F4B02A;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  padding: 0 20px;
  font-weight: 600;
}


.boton2 {
  font-family: 'Quicksand';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #F4B02A;
  background-color: #221F23;
  border-radius: 20px;
  border: 3px solid #F4B02A;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  padding: 0 20px;
}


.recuadro-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: scale-down;
  object-position: bottom;
}


.boton1:hover {
color: white;
background-color: #CA2E55;
border: none;
cursor: pointer;
}


.boton2:hover {
  color: #CA2E55;
  background-color: #221F23;
  border: 3px solid #CA2E55;
  cursor: pointer;
}


.footer-container {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: #151316;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


.footer-container p h3 {
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: 500;
}


.footer-text p {
  font-size: 20px;
  font-weight: 500;
  color: #605562;
}


.footer-links {
  justify-content: left;
}


.footer-links a {
  font-size: 17px;
  font-weight: 500;
  color: #605562;
  margin-right: 0.5px;
}


.footer-links a:hover {
  color: #F4B02A;
  font-weight: 300;
}
  

  @media screen and (max-width: 400px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

    .logo {
        display: none;
    }
  }


  @media (max-width: 700px) {
    .recuadro-img img {
      display: none;
    }

    .recuadro-about {
      display: flex;
      justify-content: center;
      height: 70vh;
    }

    footer {
      display: none;
    }
  }
